extends layout

block content
  .container
    h1= title

    form(action="/create-event" method="POST")
      div.form-group
        label(for="name") Event Name
        input#name.form-control(type="text" name="name" required)

      div.form-group
        label(for="date") Event Date
        input#date.form-control(type="date" name="date" required)

      div.form-group
        label(for="location") Event Location
        input#location.form-control(type="text" name="location" required)

      .button-container
        button(type="submit" class="btn btn-primary") Create Event
